

.loading {
  width: 4em;
  margin: 200px auto 0 auto;
  color: rgb(0, 138, 250);
}

.JokeList-getmore {
  margin: 1em 0;
  font-size: 150%;
  border-radius: 0.5em;
  background-color: rgb(0, 138, 250);
  color: white;
}